@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0c1412;
  --accent-primary: #3e3ce7;
  --accent-secondary: #3e3ce7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: inherit;
}
